<%-include ('../partials/header.ejs');%>
<%-include ('../partials/main_nav.ejs');%>
  
<main class="container">
    <!--message Area-->
    <% if (messages.length>0){%>
        <div class="red lighten-4 card-panel">
            <span class="white-text"><%=messages%></span>
            </div>
            <%}%>
            <div class="row">
                
                    <h1>Please login</h1>
                    <form method="POST" autocomplete="off">
                     

                        <div class="row">
                            <div class="input-field col s6">
                              <input  name="username" id="username" placeholder = "Enter username" autofocus required type="text" class="validate">
                              <label for="username">User Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                              <input  name="password" id="password" placeholder = "Enter password" autofocus required type="password" class="validate">
                              <label for="password">Password</label>
                              or
                                <a href="/register">Register Here</a>
                            </div>
                        </div>
                        

                        <div class="row">
                            <input type="submit" class="btn" value="Login">
                                    <a href="/">
                            <input type="button" class="btn" value="cancel">
                                    </a>
                        </div>

                                
                        </form>
                    
                </div>
    </main>

  
   <%-include ('../partials/bottom_nav.ejs');%>
<%-include ('../partials/footer.ejs');%>   

